@model IEnumerable<APC_BarbaraCoscolim_P8_v1.Models.Comentario>

@{
    ViewBag.Title = "Comnetário";
}

<h4>Comentários</h4>

<p>
    @Html.ActionLink("Adicionar comentário", "Create", "Comentarios", new { id = ViewData["ReceitaID"] }, htmlAttributes: new { @class = "" })
</p>
<table class="table">
    <tr>
        <th>
            Comentado por
        </th>
        <th>
            Comentário
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoComentario)
            </td>
            @if (User.Identity.Name == item.UserID)
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", "Comentarios", new { idReceita = ViewData["ReceitaID"], idComentario = item.ComentarioID }, null)
                </td>
                <td>
                    @Html.ActionLink("Deletar", "Delete", "Comentarios", new { idReceita = ViewData["ReceitaID"], idComentario = item.ComentarioID }, null)
                </td>
            }
            else if (User.IsInRole("Admin"))
            {
                <td></td>
                <td>
                    @Html.ActionLink("Deletar", "Delete", "Comentarios", new { idReceita = ViewData["ReceitaID"], idComentario = item.ComentarioID }, null)
                </td>
            }
            else
            {
                <td></td>
                <td></td>
            }

        </tr>
    }

</table>

