@{
    ViewBag.Title = "Gestão de tabelas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestão de tabelas</h2>


<p>
    @Html.ActionLink("Grupos de trabalho", "Index", "Roles")
</p>

<p>
    @Html.ActionLink("Utilizadores", "Index", "Users")
</p>

<p>
    @Html.ActionLink("Receita", "Index", "Receitas")
</p>

<p>
    @Html.ActionLink("Ingrediente", "Index", "Ingredientes")
</p>

<p>
    @Html.ActionLink("Unidade de medida", "Index", "UnidadeMedidas")
</p>

<p>
    @Html.ActionLink("Categoria", "Index", "Categorias")
</p>

<p>
    @Html.ActionLink("Dificuldade", "Index", "Dificuldades")
</p>

<p>
    @Html.ActionLink("Comentários", "Index", "Comentarios")
</p>

<p>
    @Html.ActionLink("Classificação", "Index", "Classificacoes")
</p>
